{% extends "layout.html.twig" %}

{% block title %}Jouer{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset("css/play.css") }}">{% endblock %}

{% block main %}

    <div class="game-container">
        <div class="pending">
            <div class="header">
                <p id="quiz_name">Nom du quiz</p>
                <p>Nombre de question : <br><span id="question_number">999</span></p>
                <p>Code : <br><span id="code">999999</span></p>
            </div>

            <ul id="participants">
                <p>Participant(s) :</p>
            </ul>

            <button class="btn" id="start">Lancer le quiz</button>
        </div>

        <div class="timer-start" style="display: none">
            <div class="timer-box">
                <span id="timer-start-time">5</span>
            </div>
        </div>

        <div class="progress" style="display: none">
            <div class="header">
                <span id="timer">30</span>
                <button class="btn" id="next">Passer la question</button>
                <span><span id="progression">30</span>/<span id="total_questions"></span></span>
            </div>

            <div class="question-content">
                <p class="question"></p>
            </div>

            <div class="media" style="display: none">
                <!-- <img src="https://cdn.paris.fr/paris/2021/10/04/huge-0155e58a77df359c58c437e521a2ed43.jpg" alt=""> -->
                <!-- <audio src="" controls autoplay></audio> -->
                <!-- <video src="" controls autoplay></video> -->
            </div>

            <div class="questions">

            </div>
        </div>

        <div class="resultat" style="display: none">
            <div class="hidden-resultat">
                <button class="btn" id="afficher_resultat">Afficher les resultats</button>
            </div>

            <div class="content-resutlat">

                <div class="header header-resultat">
                    <button class="btn" id="nextQuestion" onclick="nextQuestion()">Question suivante</button>
                    <button class="btn" id="finishQuiz" onclick="finishQuiz()" style="display: none">Finir le Quiz</button>
                </div>

                <div class="bonne-reponse-container">

                    <p id="bonne-reponse"></p>
                    <div class="bonne-reponse-progressbar">
                        <div class="bonne-reponse-progress"></div>
                    </div>
                </div>

                <div class="question-content">
                    <p class="question"></p>
                </div>

                <div class="media" style="display: none">
                    <!-- <img src="https://cdn.paris.fr/paris/2021/10/04/huge-0155e58a77df359c58c437e521a2ed43.jpg" alt=""> -->
                    <!-- <audio src="" controls autoplay></audio> -->
                    <!-- <video src="" controls autoplay></video> -->
                </div>

                <div class="questions">

                </div>


            </div>

        </div>
    </div>

    <script>
        var socket = io("https://api.tomdepussay.fr:5000");
        var participantsHTML = $('#participants');
        var codeRoom = 0;
        var current_question = 0;
        var quiz;
        let timer_countdown;
        let total_participants = 0;
        let pourcentage = 0;

        socket.on("room", ({ quiz_reponse, code }) => {
            $('#quiz_name').html(quiz_reponse.title);
            $('#question_number').html(quiz_reponse.questions.length);
            $('#code').html(code);
            codeRoom = code;
            quiz = quiz_reponse;
        });

        socket.on("newConnected", ({ id, username }) => {
            total_participants++;

            participantsHTML.append($("<li>")
                .attr("id", id)
                .addClass("participant")
                .append(
                    $("<span>")
                        .text(username)
                )
                .append(
                    $("<button>")
                        .click(function () {
                            $("#" + id).remove();
                            socket.emit("kickedPlayer", {
                                id: id,
                                code: codeRoom
                            })
                        })
                        .append(
                            `<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                                <path d="M376 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z" fill="none" stroke="#1f5f1f" stroke-linecap="round" stroke-linejoin="round" stroke-width="45"/>
                                <path d="M288 304c-87 0-175.3 48-191.64 138.6-2 10.92 4.21 21.4 15.65 21.4H464c11.44 0 17.62-10.48 15.65-21.4C463.3 352 375 304 288 304z" fill="none" stroke="#1f5f1f" stroke-miterlimit="10" stroke-width="45"/>
                                <path fill="none" stroke="#1f5f1f" stroke-linecap="round" stroke-linejoin="round" stroke-width="45" d="M144 232H32"/>
                            </svg>`
                        )
                )
            );
        })

        socket.on("newDisconnected", ({ id }) => {
            $("#" + id).remove();
        })

        $(document).ready(function(){

            $('#next').click(function(){
                if(timer_countdown > 1){
                    timer_countdown = 1;
                    socket.emit("skipQuestion", {
                        current_question: current_question - 1,
                        id: {{ id_user }}
                    })
                }
            })

            $(window).on('beforeunload', function(){
                socket.emit("disconnecting", { userId: {{ id_user }} });
                socket.close();
            });

            $.ajax({
                url: "{{ path("get_data") }}",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    "id_user": {{ id_user }},
                    "id_quiz": {{ id_quiz }}
                }),
                success: function(res){
                    socket.emit("createdRoom", {
                        id_user: {{ id_user }},
                        quiz: res.quiz
                    })
                }
            })

            $('#start').click(function(){

                $(".nav").addClass("hide-nav");
                $('.nav').on("animationend", function(){
                    $('.nav').hide();
                })


                $('.pending').hide();

                $('.timer-start').show();

                let countdown = 4;

                function updateCountdown() {

                    $('#timer-start-time').text(countdown);

                    if (countdown === 0) {
                        clearInterval(interval);
                        socket.emit("startGame", {
                            id: {{ id_user }}
                        })
                        $('.timer-start').hide();
                        nextQuestion();
                    } else {
                        countdown--;
                    }
                }

                let interval = setInterval(updateCountdown, 1000);

            })

            $('#afficher_resultat').click(function(){
                $('.hidden-resultat').hide();
                $('.content-resutlat').show();
                $('.bonne-reponse-progress').css("width", `${pourcentage}%`);
            })
        })

        function finishQuiz(){

            $.ajax({
                url: "https://api.tomdepussay.fr:5000/get_resultat_finish",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    id: {{ id_user }}
                }),
                success: function(res){

                    $.ajax({
                        url: "{{ path("set_session_quiz") }}",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({
                            resultat: res.resultat
                        }),
                        success: function(resultat){
                            window.location.href = "{{ path("finish_quiz") }}";
                        }
                    })

                }
            })

        }

        function nextQuestion(){
            $('.bonne-reponse-progress').css("width", `0`);
            $('.progress').show();
            $('.resultat').hide();
            $('.hidden-resultat').show();
            $('.content-resutlat').hide();
            current_question++;

            if(current_question === quiz.questions.length){
                $('#nextQuestion').hide();
                $('#finishQuiz').show();
            }

            if(current_question !== 1){
                socket.emit("nextQuestion", {
                    id: {{ id_user }}
                })
            }

            let question = quiz.questions[current_question - 1];

            $('#timer').text(question.temps);
            $('#total_questions').text(quiz.questions.length);
            $('#progression').text(current_question);
            timer_countdown = question.temps;

            $('.question').text(question.label);

            $('.questions').html("");

            if(question.vraifaux){
                $('.questions')
                    .append(
                        $('<div>')
                            .addClass("reponse")
                            .append(
                                $('<div>')
                                    .addClass("reponse-content")
                                    .append(
                                        $('<i>')
                                            .addClass("fa-solid fa-cat")
                                    )
                                    .append(
                                        $('<span>')
                                            .text("Vrai")
                                    )
                            )

                    )
                    .append(
                        $("<div>")
                            .addClass('reponse')
                            .append(
                                $("<div>")
                                    .addClass("reponse-content")
                                    .append(
                                        $('<i>')
                                            .addClass("fa-solid fa-dove")
                                    )
                                    .append(
                                        $('<span>')
                                            .text("Faux")
                                    )
                            )

                    )
            } else if(question.curseur){

            } else {
                for(let i = 0; i < question.reponses.length; i++){
                    $('.questions')
                        .append(
                            $('<div>')
                                .addClass("reponse")
                                .append(
                                    $('<div>')
                                        .addClass("reponse-content")
                                        .append(
                                            $("<i>")
                                                .addClass(`fa-solid fa-${
                                                    i === 0 ? "cat" :
                                                        i === 1 ? "dove" :
                                                            i === 2 ? "fish" :
                                                                i === 3 ? "frog" :
                                                                    i === 4 ? "dog" :
                                                                        i === 5 ? "spider" :
                                                                            i === 6 ? "shrimp" :
                                                                                "horse"
                                                }`)
                                        )
                                        .append(
                                            $("<span>")
                                                .text(question.reponses[i].reponse)
                                        )
                                )



                        )
                }
            }

            function updateCountdown() {

                $('#timer').text(timer_countdown);

                if (timer_countdown === 0) {
                    clearInterval(interval);
                    $('.progress').hide();
                    afficherResultat();
                } else {
                    timer_countdown--;
                }
            }

            let interval = setInterval(updateCountdown, 1000);
        }

        function afficherResultat(){
            $('.resultat').show();

            $.ajax({
                url: "https://api.tomdepussay.fr:5000/get_resultat",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    current_question: current_question - 1,
                    id: {{ id_user }}
                }),
                success: function(res){

                    socket.emit("afficherResultat", {
                        id: {{ id_user }},
                        current_question: current_question - 1
                    });

                    let question = quiz.questions[current_question - 1];

                    $('.questions').html("");

                    $(".question").text(question.label);

                    pourcentage = Math.floor((res.bonne_reponse / total_participants) * 100);

                    var texte;

                    if(res.bonne_reponse === 0){
                        texte = `Personne n'a trouvé la réponse`;
                    } else if(res.bonne_reponse === total_participants){
                        texte = `Tout le monde a trouvé la bonne réponse`;
                    } else if(res.bonne_reponse === 1){
                        texte = `Une seule personne a trouvé la bonne réponse`;
                    } else if(res.bonne_reponse > 1){
                        texte = `${res.bonne_reponse} ont trouvé la bonne réponse`;
                    }

                    $('#bonne-reponse').text(texte);

                    if(question.vraifaux){
                        $('.questions')
                            .append(
                                $('<div>')
                                    .addClass("reponse")
                                    .append(
                                        $('<div>')
                                            .addClass(`reponse-content ${question.valeurvraifaux ? "reponse-content-bonne" : ""}`)
                                            .append(
                                                $('<i>')
                                                    .addClass("fa-solid fa-cat")
                                            )
                                            .append(
                                                $('<span>')
                                                    .text("Vrai")
                                            )
                                    )

                            )
                            .append(
                                $("<div>")
                                    .addClass('reponse')
                                    .append(
                                        $("<div>")
                                            .addClass(`reponse-content ${question.valeurvraifaux ? "" : "reponse-content-bonne"}`)
                                            .append(
                                                $('<i>')
                                                    .addClass("fa-solid fa-dove")
                                            )
                                            .append(
                                                $('<span>')
                                                    .text("Faux")
                                            )
                                    )

                            )
                    } else if(question.curseur){
                        $('.questions')
                            .append(
                                $("<p>")
                                    .addClass("curseur")
                                    .text(
                                        question.minimum_valide === question.maximum_valide ?
                                            `La bonne réponse est ${question.minimum_valide}` :
                                            `La bonne réponse est comprise entre ${question.minimum_valide} et ${question.maximum_valide}`
                                    )
                            )
                    } else {
                        for(let i = 0; i < question.reponses.length; i++){
                            $('.questions')
                                .append(
                                    $('<div>')
                                        .addClass("reponse")
                                        .append(
                                            $('<div>')
                                                .addClass(`reponse-content ${question.reponses[i].good ? "reponse-content-bonne" : ""}`)
                                                .append(
                                                    $("<i>")
                                                        .addClass(`fa-solid fa-${
                                                            i === 0 ? "cat" :
                                                                i === 1 ? "dove" :
                                                                    i === 2 ? "fish" :
                                                                        i === 3 ? "frog" :
                                                                            i === 4 ? "dog" :
                                                                                i === 5 ? "spider" :
                                                                                    i === 6 ? "shrimp" :
                                                                                        "horse"
                                                        }`)
                                                )
                                                .append(
                                                    $("<span>")
                                                        .text(question.reponses[i].reponse)
                                                )
                                        )



                                )
                        }
                    }
                }
            })
        }

    </script>

{% endblock %}