{% extends "layout.html.twig" %}

{% block title %}Jouer{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset("css/play.css") }}">{% endblock %}

{% block main %}

    <div class="game-player">

        <div class="pending">
            <div class="loader">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <div class="bar4"></div>
                <div class="bar5"></div>
                <div class="bar6"></div>
                <div class="bar7"></div>
                <div class="bar8"></div>
                <div class="bar9"></div>
                <div class="bar10"></div>
                <div class="bar11"></div>
                <div class="bar12"></div>
            </div>
            <p>En attente de l'hôte</p>
            <p id="resultat" style="display: none"></p>
        </div>

        <div class="progress" style="display: none">
            <div class="header">
                <span id="timer">30</span>
                <span id="score">0</span>
                <span><span id="progression">30</span>/<span id="total_questions"></span></span>
            </div>

            <div class="reponses">



            </div>
        </div>

    </div>


    <script>
        var socket = io("https://node.tomdepussay.fr:5000");
        var current_question = 0;
        var quiz = null;
        var countdown;
        var reponse_select = null;
        var id_user;

        socket.emit("connectedUser", {
            username: "{{ username }}",
            code: "{{ code }}"
        });

        socket.on("kicked", () => {
            window.location.href = "{{ path("kicked_player") }}";
        })

        socket.on("start", ({ quiz_player, id }) => {

            id_user = id;

            quiz = quiz_player;

            newQuestion();
        })

        socket.on("skip", () => {
            if(countdown > 1){
                countdown = 1;
            }
        })

        socket.on("resultatJoueur", ({ position, derriere, score }) => {
            $('#score').text(score)
            $("#resultat").show();
            let place = position === 1 ? "1er" : position + "ème";

            $('#resultat').text(
                `Vous êtes ${place}${position !== 1 ? ` derrière ${derriere}.` : "."} Avec un score de ${score}`
            );
        })

        socket.on("next", () => {
            newQuestion();
        })

        socket.on("endGame", () => {
            window.location.href = "{{ path("end_game") }}"
        })

        $(document).ready(function() {

            $(".nav").addClass("hide-nav");
            $('.nav').on("animationend", function(){
                $('.nav').hide();
            })

            $(window).on('beforeunload', function () {
                socket.emit("disconnectingUser", {
                    code: "{{ code }}"
                });
                socket.close();

            });
        });

        function newQuestion(){
            $('#resultat').hide();
            $('.pending').hide();
            $('.progress').show();
            current_question++;
            $('#timer').text(quiz[current_question -1].temps);
            $('#total_questions').text(quiz.length);
            $('#progression').text(current_question);
            countdown = quiz[current_question - 1].temps

            let number_reponse = 0;

            if(quiz[current_question - 1].type === "vraifaux"){
                number_reponse = 2;
            } else if(quiz[current_question - 1].type === "quiz") {
                number_reponse = quiz[current_question - 1].number;
            }

            $('.reponses').html("");

            if(quiz[current_question - 1].type === "curseur"){
                $(".reponses")
                    .append(
                        $('<div>')
                            .addClass("reponse-curseur")
                            .append(
                                $("<p>")
                                    .text("Valeur : ")
                                    .append(
                                        $("<span>")
                                            .attr("id", "valeur")
                                            .text(quiz[current_question - 1].minimumCurseur)
                                    )
                            )
                            .append(
                                $("<input>")
                                    .attr("type", "range")
                                    .attr("min", quiz[current_question - 1].minimumCurseur)
                                    .attr("max", quiz[current_question -  1].maximumCurseur)
                                    .attr("step", quiz[current_question - 1].interval)
                                    .on("input", (e) => {
                                        $('#valeur').text(e.target.value);
                                    })
                            )
                            .append(
                                $("<button>")
                                    .text("Envoyer")
                                    .addClass("btn")
                                    .attr("id", "envoyer-curseur")
                                    .click((e) => {
                                        $('.progress').hide();
                                        $('.pending').show();

                                        socket.emit("reponse", {
                                            current_question: current_question - 1,
                                            reponse: $("#valeur").text(),
                                            id: id_user,
                                            time: countdown
                                        })

                                        clearInterval(interval);
                                    })
                            )
                    )
            }

            if(quiz[current_question - 1].type !== "curseur"){
                for(let i = 0; i < number_reponse; i++){
                    $('.reponses').append(
                        $('<div>')
                            .addClass('reponse-content')
                            .append(
                                $('<button>')
                                    .addClass(`reponse ${
                                        i === 0 ? "cat" :
                                            i === 1 ? "dove" :
                                                i === 2 ? "fish" :
                                                    i === 3 ? "frog" :
                                                        i === 4 ? "dog" :
                                                            i === 5 ? "spider" :
                                                                i === 6 ? "shrimp" :
                                                                    "horse"
                                    }`)
                                    .data("n", i)
                                    .append(
                                        $("<i>")
                                            .addClass(`fa-solid fa-${
                                                i === 0 ? "cat" :
                                                    i === 1 ? "dove" :
                                                        i === 2 ? "fish" :
                                                            i === 3 ? "frog" :
                                                                i === 4 ? "dog" :
                                                                    i === 5 ? "spider" :
                                                                        i === 6 ? "shrimp" :
                                                                            "horse"
                                            }`)
                                    )
                                    .click((e) => {
                                        $('.progress').hide();
                                        $('.pending').show();

                                        let reponse;

                                        if(quiz[current_question - 1].type === "vraifaux"){
                                            reponse = $(e.target).data("n") === 0;
                                        } else if(quiz[current_question - 1].type === "quiz"){
                                            reponse = $(e.target).data("n");
                                        } else {

                                        }

                                        socket.emit("reponse", {
                                            current_question: current_question - 1,
                                            reponse: reponse,
                                            id: id_user,
                                            time: countdown
                                        })

                                        clearInterval(interval);
                                    })
                            )
                    );
                }
            }


            function updateCountdown() {

                $('#timer').text(countdown);

                if (countdown === 0) {
                    clearInterval(interval);
                    $('.progress').hide();
                    $('.pending').show();

                    socket.emit("reponse", {
                        current_question: current_question - 1,
                        reponse: null,
                        id: id_user
                    })


                } else {
                    countdown--;
                }
            }

            let interval = setInterval(updateCountdown, 1000);
        }
    </script>

{% endblock %}