{% extends "layout.html.twig" %}

{% block title %}{% trans %}Création{% endtrans %}{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset("css/create.css") }}">{% endblock %}

{% block main %}

    <script type="text/javascript">
        function reloadListe(){
            $.ajax({
                url: "{{ path("get_liste") }}",
                method: "GET",
                success: function(data){
                    $("#liste").html(data);
                }
            })
        }
    </script>

    <div class="dashboard">

        <div class="modals">
            <div id="modal-alert"></div>
            <div class="modal" id="modal"></div>
        </div>

        <div class="sidebar">
            <div id="liste"></div>

            <button id="add_question" class="btn">{% trans %}Ajouter une question{% endtrans %}</button>

            <div class="btns">
                <button class="btn" id="quitter">{% trans %}Quitter{% endtrans %}</button>
                <button class="btn" id="enregistrer">{% trans %}Enregistrer{% endtrans %}</button>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        $(document).ready(function() {
            reloadListe();
            $('#add_question').click(function() {
                $.ajax({
                    url: "{{ path('add_question_modal') }}",
                    type: "GET",
                    success: function(data){
                        $("#modal").html(data)
                    }
                })
            })

            $('#quitter').click(function(){
                $.ajax({
                    url: "{{ path("quitter_quiz_modal") }}",
                    type: "GET",
                    success: function(data){
                        $("#modal-alert").html(data);
                    }
                })
            })

            $('#enregistrer').click(function(){
                $.ajax({
                    url: "{{ path("create_quiz") }}",
                    type: "GET",
                    success: function(data){
                        console.log(data);
                        if(data.success === false){
                            showFlashMessage(data.message, {% trans %}"danger"{% endtrans %});
                        } else {
                            showFlashMessage({% trans %}"Le quiz a bien été créé", "success"{% endtrans %});
                            window.location.href = "{{ path("index") }}";
                        }
                    }
                })
            })
        })


    </script>

    {% block content %}

    {% endblock %}

{% endblock %}