{% block css %}<link rel="stylesheet" href="{{ asset("css/admin.css") }}">{% endblock %}

<!DOCTYPE html>

<title>User index</title>

<!-- lien de retour vers l'accueil admin -->
<a href="{{ path('admin') }}" class="goBack"><button>Go back to admin menu</button></a>

<h1>User index</h1>


<table class="table" >
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>DateCreated</th>
        <th>Role</th>
        <th>Actions</th>
        <th>Edit role</th>
        <th>Delete User</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td class="password">{{ user.password }}</td>
            <td>{{ user.dateCreated ? user.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ user.roles[0] }}</td>
            <td>
                <a href="{{ path('app_user_c_r_u_d_show', {'id': user.id}) }}"><button class="adminSection">show</button></a>
                <a href="{{ path('app_user_c_r_u_d_edit', {'id': user.id}) }}"><button class="adminSection">edit</button></a>
            </td>
            <td>
                <!-- alterner le role d'un user sauf le compte présentement connecté -->
                {# si le user connecté est différent du user en cours, alors on affiche le formulaire de changement de role #}
                {% if app.user.username != user.username %}
                    {{ include('user_crud/_role_form.html.twig') }}
                {% endif %}
            </td>
            <td>
                <!-- suppression d'un user -->
                {{ include('user_crud/_delete_form.html.twig') }}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>