{% extends "layout.html.twig" %}

{% block title %}S'inscrire{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ asset("css/register.css") }}">{% endblock %}

{% block main %}

    <div class="formulaire">
        <h2>S'inscrire</h2>

        {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
        <input type="submit" value="S'inscrire">
        {{ form_end(registerForm) }}

        <p>Vous avez déjà un compte ? <a href="{{ path("login") }}">Connectez-vous</a></p>
    </div>

{% endblock %}