{% extends "layout.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset("css/library.css") }}">
{% endblock %}

{% block js %}
    <script src="{{ asset("js/library.js") }}"></script>
{% endblock %}

{% block title %}{% trans %}Bibliothèque{% endtrans %}{% endblock %}

{% block main %}
    <div class="card-container">
        {% set displayedCount = 0 %}
        {% set sortedListe = liste|sort((a, b) => b.created.timestamp() - a.created.timestamp()) %}
        {% for quiz in sortedListe %}
            {% if displayedCount < 20 %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="date">{{ quiz.created|date('d/m/Y') }}</h3>
                        <h3 class="number">{{ quiz.number }} {% trans %}question(s){% endtrans %}</h3>
                    </div>
                    <div class="card-body">
                        <h2 class="titleQuiz">{{ quiz.title }}</h2>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="edit-link"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="44" d="M358.62 129.28L86.49 402.08 70 442l39.92-16.49 272.8-272.13-24.1-24.1zM413.07 74.84l-11.79 11.78 24.1 24.1 11.79-11.79a16.51 16.51 0 000-23.34l-.75-.75a16.51 16.51 0 00-23.35 0z"/></svg></a>
                        <a href="#" class="play-link"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M133 440a35.37 35.37 0 01-17.5-4.67c-12-6.8-19.46-20-19.46-34.33V111c0-14.37 7.46-27.53 19.46-34.33a35.13 35.13 0 0135.77.45l247.85 148.36a36 36 0 010 61l-247.89 148.4A35.5 35.5 0 01133 440z"/></svg></a>
                        <a href="{{ path('delete_quiz', {'id': quiz.id}) }}" class="delete-link"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M296 64h-80a7.91 7.91 0 00-8 8v24h96V72a7.91 7.91 0 00-8-8z" fill="none"/><path d="M432 96h-96V72a40 40 0 00-40-40h-80a40 40 0 00-40 40v24H80a16 16 0 000 32h17l19 304.92c1.42 26.85 22 47.08 48 47.08h184c26.13 0 46.3-19.78 48-47l19-305h17a16 16 0 000-32zM192.57 416H192a16 16 0 01-16-15.43l-8-224a16 16 0 1132-1.14l8 224A16 16 0 01192.57 416zM272 400a16 16 0 01-32 0V176a16 16 0 0132 0zm32-304h-96V72a7.91 7.91 0 018-8h80a7.91 7.91 0 018 8zm32 304.57A16 16 0 01320 416h-.58A16 16 0 01304 399.43l8-224a16 16 0 1132 1.14z"/></svg></a>
                    </div>
                </div>
                {% set displayedCount = displayedCount + 1 %}
            {% endif %}
        {% endfor %}
    </div>

    {% if liste|length > 20 and displayedCount == 20 %}
        <button id="afficher-plus" class="afficher-plus">Afficher plus</button>
    {% endif %}
{% endblock %}
